
@tailwind base;
@tailwind components;
@tailwind utilities;

html.light {
  --bg: #f9fafb;
  --text: #111827;
}

html.dark {
  --bg: #18181b;
  --text: #f3f4f6;
}

body {
  background-color: var(--bg);
  color: var(--text);
  transition: background 0.3s, color 0.3s;
}
